<h1>Test Your Memory of Your Dictionary</h1>

<h1>COMING SOON!</h1>

<ul>
  #foreach ($definition in $definition.getDefinitions())
    <li>$definition.getDefinition()</li>
  #end
</ul>

<br>
<br>
<a href="/" class="btn btn-info">Go Home</a>
<a href="/words" class="btn btn-warning">View Your Dictionary</a>
