<h1>Your Dictionary Word List</h1>

#foreach($word in $words)
<h3><a href="/words/$word.getId()">$word.getWord()</a></h3>
#end

<a href="/words/new" class="btn btn-warning">Add a New Word</a>
<br>
<br>
<a href="/" class="btn btn-info">Go Home</a>
<br>
<br>
<a href="/definitions" class="btn btn-success">View All Definitions</a>
