<h1>Add a New Word</h1>

<p>Add a word here:</p>

<form action="/success" method="post">
  <label for="word">Word: </label>
  <input id="word" type="text" name="word">
  <button type="submit" class="btn btn-success">Add a New Word</button>
</form>
<br>
<a href="/" class="btn btn-info">Home</a>
